
/*
 *
 *     /$$                         /$$                 /$$
 *    | $$                        | $$                | $$
 *   /$$$$$$    /$$$$$$   /$$$$$$$| $$$$$$$       /$$$$$$$  /$$$$$$$
 *  |_  $$_/   /$$__  $$ /$$_____/| $$__  $$     /$$__  $$ /$$_____/
 *    | $$    | $$$$$$$$| $$      | $$  \ $$    | $$  | $$|  $$$$$$
 *    | $$ /$$| $$_____/| $$      | $$  | $$    | $$  | $$ \____  $$
 *    |  $$$$/|  $$$$$$$|  $$$$$$$| $$  | $$ /$$|  $$$$$$$ /$$$$$$$/
 *     \___/   \_______/ \_______/|__/  |__/|__/ \_______/|_______/
 *
 *
 */

// --------- //
// VARIABLES //
// --------- //
$primary-dark: #aaa;
$primary-light: #ddd;

// ------ //
// LAYOUT //
// ------ //

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 25em;
}

// ---------- //
// TYPOGRAPHY //
// ---------- //

h1, h2, h3 {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
  font-weight: 500;
  color: #888;
}

h3, p {
  font-weight: 400;
}

// ---------------- //
// GENERIC ELEMENTS //
// ---------------- //

body {
  background: #fff;
  font-family: din-web-reg;
  font-size: 18px;
  margin: 0 0 3em 0;
}

img {
  width: 100%;
}

a {
  color: #9ec2d7;
  text-decoration: underline;
  &:hover {
    color: lighten($primary-dark, 10);
  }
}

// ----- //
// POSTS //
// ----- //

#posts {
  color: #222;

  h2 a {
    color: $primary-light;
    text-transform: uppercase;
    text-decoration: none;
  }

  .avatar {
    width: 64px;
    float: right;
    margin: 0 0 1em 0;
    border-radius: 2px;
  }
}

.body-text {
  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
}

// ------ //
// HEADER //
// ------ //

#header {
  padding: 2em 0;
  background: #fafafa;
  border-bottom: 1px solid #eee;

  .container {
    height: 85px;
    position: relative;
  }

  .logo {
    display: block;
    position: absolute;
    left: 0px;
    width: 75px;
    height: 85px;
  }

  .title {
    position: absolute;
    top: 45px;
    left: 90px;
    color: #bbb;
  }
}

