
/*
 *
 *     /$$                         /$$                 /$$
 *    | $$                        | $$                | $$
 *   /$$$$$$    /$$$$$$   /$$$$$$$| $$$$$$$       /$$$$$$$  /$$$$$$$
 *  |_  $$_/   /$$__  $$ /$$_____/| $$__  $$     /$$__  $$ /$$_____/
 *    | $$    | $$$$$$$$| $$      | $$  \ $$    | $$  | $$|  $$$$$$
 *    | $$ /$$| $$_____/| $$      | $$  | $$    | $$  | $$ \____  $$
 *    |  $$$$/|  $$$$$$$|  $$$$$$$| $$  | $$ /$$|  $$$$$$$ /$$$$$$$/
 *     \___/   \_______/ \_______/|__/  |__/|__/ \_______/|_______/
 *
 *
 */

// ----- //
// RESET //
// ----- //
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// --------- //
// VARIABLES //
// --------- //
$primary-dark: #9ec2d7;
$primary-light: #ddd;

$title-first: #93b6ca;
$title-second: #b4d0e0;
$title-third: #d1e2ec;

// ------ //
// LAYOUT //
// ------ //

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 25em;
}

// ---------- //
// TYPOGRAPHY //
// ---------- //

h1, h2, h3 {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.3em;
  transition: font-size 0.2s ease;
  @media only screen and (max-width: 750px) {
    font-size: 2em;
    margin: 0.8em 0 0.5em;
  }
}

h2 {
  font-size: 1em;
  font-weight: 500;
  color: #888;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  margin: 0 0 1em 0;
}

// ---------------- //
// GENERIC ELEMENTS //
// ---------------- //

body {
  background: #fff;
  font-family: din-web-reg;
  margin: 0 0 3em 0;
  font-size: 18px;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

img {
  width: 100%;
}

a {
  color: $primary-dark;
  text-decoration: underline;
  &:hover {
    transition: color ease 0.5s;
    color: lighten($primary-dark, 10);
  }
}

// ----- //
// POSTS //
// ----- //

#post-title {
  color: $primary-dark;
  text-transform: uppercase;
  margin: 1em 0 1em -1em;
}

.title-2 {
  color: $title-first;
}

.title-1 {
  color: $title-second;
}

.title-0 {
  color: $title-third;
}

#posts {
  color: #222;
  padding: 0 5%;

  h2 a {
    color: $primary-light;
    text-transform: uppercase;
    text-decoration: none;
  }

  .avatar {
    width: 64px;
    float: right;
    margin: 0 0 1em 0;
    border-radius: 2px;
  }
}

.body-text {
  margin: 2em 0;
  @media only screen and (max-width: 750px) {
    margin: 1em 0 0;
  }
  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
}

// ------ //
// HEADER //
// ------ //

#header {
  padding: 2em 0;
  background: #fafafa;
  border-bottom: 1px solid #eee;
  transition: padding 0.2s ease;
  @media only screen and (max-width: 500px) {
    padding: 0.8em 0;
  }

  .container {
    height: 60px;
    position: relative;
    @media only screen and (max-width: 500px) {
      height: 35px;
    }
  }

  .logo {
    display: block;
    position: absolute;
    left: 0;
    width: auto;
    height: 60px;
    transition: height 0.2s ease;
    @media only screen and (max-width: 500px) {
      height: 35px;
    }
  }

  .title {
    position: absolute;
    top: 30px;
    left: 65px;
    color: #bbb;
    @media only screen and (max-width: 500px) {
      top: 13px;
      left: 40px;
    }
  }
}

